
@font-face {
  font-family: 'Old Standard TT';
  src: url('../assets/fonts/OldStandard-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Old Standard TT';
  src: url('../assets/fonts/OldStandard-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Old Standard TT';
  src: url('../assets/fonts/OldStandard-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

html {
  font-family: 'Old Standard TT', Georgia, serif;
  font-size: 1.2em;
  color: #545252;
  
  margin: 0;
  padding: 0;
}

h1,h2,h3 {
   margin:0;
}

h1 {
   font-size: 2.3rem;
   line-height: 2.4rem;
}

h2 {
   font-size: 1.7rem;
}

h3 {
   font-size: 1.33rem; 
}

p {
  text-indent: 1.33rem;
  margin: 0;
}

header {
  margin: 0 0 3.5rem 0;
  padding: 0 .5rem;
}

main {
  max-width: 960px;
  margin: .5rem auto;
  padding: 0 .5rem;
}

footer {
  font-size: .8rem;
  font-style: italic;
  text-align: right;
  margin-top: 3rem;
  padding: 0 .5rem;
}

input, select, button {
  font-family: 'Old Standard TT', Georgia, serif;
  color: #545252;
  font-size: 1.2rem;
  line-height: 1.2rem;
  
  padding: .4rem;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: .06rem;

  border: none;
  background: #D6B261;
}

/********* LINKS *********/
a {
  display: block;
  transition: color .2s;
  font-weight: bold;
  text-align: right;
  padding-top: .66rem;
}

a:link {
  color: #D6B261;
}

a:visited {
  color: #B28521;
}

a:hover, a:focus {
  color: #936F8E;
}

a:active {
  color: #936F8E;
}

/********* CLASSES *********/
.homeLink {
  display: flex;
  color: #545252;
  text-align: left;
  text-decoration: none;
  align-items: center;
}

.homeLink:link, .homeLink:visited, .homeLink:hover, .homeLink:focus , .homeLink:active {
  color: #545252;
}

.plate {
  padding: 1rem;
  border: solid 1px #545252;
  text-align: center;
}

.nameplate {
  border: none;
  border-bottom: 2px #545252 solid;
  width: 100%;

  font-size: 2rem;
  line-height: 2rem;
}

.subHeader {
  font-style: italic;
}

.primaryColor {
   color: #D6B261;
}

.shadowColor {
   color: #936F8E;
}

.center {
  text-align: center;
}

/********* IDS *********/
#largeLogo {
  width: 11rem;
  margin: .3rem 0;
}

#smallLogo {
  width: 2.5rem;
  margin: .3rem .3rem;
}



