
@font-face {
  font-family: 'Old Standard TT';
  src: url('../assets/fonts/OldStandard-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Old Standard TT';
  src: url('../assets/fonts/OldStandard-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Old Standard TT';
  src: url('../assets/fonts/OldStandard-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body, html {
  color: #;
  font-family: 'Old Standard TT', Georgia, serif;
  
  margin: 0;
  padding: 0;
}
